#!/usr/bin/env bash
if [ -z ${PROD_VAULT_TOKEN+x} ]; then
  echo "PROD_VAULT_TOKEN is not set!"
fi
if [ -z ${PROD_VAULT_URL+x} ]; then
  echo "PROD_VAULT_URL is not set!"
fi
export VAULT_TOKEN="${PROD_VAULT_TOKEN}"
export VAULT_URL="${PROD_VAULT_URL}"
