<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CognitoUserPool</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppClientId</key>
				<string>5bsjfm5f5e8or20lucahbcvrt7</string>
				<key>AppClientSecret</key>
				<string>12f8ta45e3a7b2bltosfd3v9tr4khn9nlg0ro7otjbirdhrbmon7</string>
				<key>PoolId</key>
				<string>us-west-2_PNTrEzKhS</string>
				<key>Region</key>
				<string>us-west-2</string>
			</dict>
		</dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-west-2:941ea90e-ec9e-4d72-8355-1f9ac50fc697</string>
					<key>Region</key>
					<string>us-west-2</string>
				</dict>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>PinpointAnalytics</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppId</key>
				<string>59c2231ffb974f798c21ce6b17c5180b</string>
				<key>Region</key>
				<string>us-west-2</string>
			</dict>
		</dict>
		<key>PinpointTargeting</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppId</key>
				<string>53399a846ec7455aa8f1264eeb9438b8</string>
				<key>Region</key>
				<string>us-west-2</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Flo by Moen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.meetflo.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.meetflo.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>floapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>floapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CountryArray</key>
	<array>
		<string>Australia</string>
		<string>Germany</string>
		<string>United Kindom</string>
		<string>United States</string>
	</array>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>15e0a9dd27736ce80118b59484081e097e885d8d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FloAPIDomain</key>
	<string>api.meetflo.com</string>
	<key>FloAPIUri</key>
	<string>https://api-gw.meetflo.com/api/</string>
	<key>FloApiClientID</key>
	<string>c242608a-c7ce-4b42-a4ac-280bc8b0d6e2</string>
	<key>FloEmbraceKey</key>
	<string>AicEp</string>
	<key>FloInstabugKey</key>
	<string>eea5c9617e4400d1b6c51d4df4f60ea1</string>
	<key>FloMQTT</key>
	<string>mqtt.flosecurecloud.com</string>
	<key>FloMixpanelKey</key>
	<string>80e13e3737928d5259a820af99a763d2</string>
	<key>ICDJsonFormatVersion</key>
	<string>2.0</string>
	<key>ICDPairingVersion</key>
	<integer>1</integer>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need to use the camera to scan the QR code and pair this device.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required to pair the Smart Water Shutoff to your Wi-Fi network.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We will just use your microphone in case you want to send an audio attached to your bug report</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to use your photo library to allow you attach pictures on chat</string>
	<key>SSL-Certificates</key>
	<array>
		<string>prod-star_meetflo_com</string>
	</array>
	<key>StateArray</key>
	<array>
		<string>AL</string>
		<string>AK</string>
		<string>AS</string>
		<string>AZ</string>
		<string>AR</string>
		<string>CA</string>
		<string>CO</string>
		<string>CT</string>
		<string>DE</string>
		<string>DC</string>
		<string>FM</string>
		<string>FL</string>
		<string>GA</string>
		<string>GU</string>
		<string>HI</string>
		<string>ID</string>
		<string>IL</string>
		<string>IN</string>
		<string>IA</string>
		<string>KS</string>
		<string>KY</string>
		<string>LA</string>
		<string>ME</string>
		<string>MH</string>
		<string>MD</string>
		<string>MA</string>
		<string>MI</string>
		<string>MN</string>
		<string>MS</string>
		<string>MO</string>
		<string>MT</string>
		<string>NE</string>
		<string>NV</string>
		<string>NH</string>
		<string>NJ</string>
		<string>NM</string>
		<string>NY</string>
		<string>NC</string>
		<string>ND</string>
		<string>MP</string>
		<string>OH</string>
		<string>OK</string>
		<string>OR</string>
		<string>PW</string>
		<string>PA</string>
		<string>PR</string>
		<string>RI</string>
		<string>SC</string>
		<string>SD</string>
		<string>TN</string>
		<string>TX</string>
		<string>UT</string>
		<string>VT</string>
		<string>VI</string>
		<string>VA</string>
		<string>WA</string>
		<string>WV</string>
		<string>WI</string>
		<string>WY</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Questrial-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
