files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00-swap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -o xtrace
      set -e
      SWAP_SIZE=1024
      if grep -E 'SwapTotal:\s+0+\s+kB' /proc/meminfo; then
          echo "Identified no swap space, creating ${SWAP_SIZE}M of swap."
          dd if=/dev/zero of=/var/swapfile bs=1M count=${SWAP_SIZE}
          /sbin/mkswap /var/swapfile
          chmod 000 /var/swapfile
          /sbin/swapon /var/swapfile
      else
          echo "Did not confirm zero swap space, doing nothing."
      fi

container_commands:
  01:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/00-swap.sh
