files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01-migrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # This script is used to perform cleanups and add backwards compatability for certain legacy features
      # and apply it in async-way onto multiple services.

      # Ensure /etc/env is not a directory (bug that came from migration to gitlab)
      if [ -d "/etc/env" ]; then
        echo "/etc/env is a directory. Removing it"
        rm -rf "/etc/env/"
      fi

container_commands:
  1_apply_migrations:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/01-migrations.sh

