container_commands:
  01:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/11-data-disk.sh

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11-data-disk.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -o xtrace
      set -e

      source /etc/env

      if [[ "$DATA_DISK_ENABLED" == "true" ]]
      then
        # Dectect which block device we use

        if [[ -b "/dev/xvdk" ]]; then
          disk="/dev/xvdk"
        elif [[ -b "/dev/sdk" ]]; then
          disk="/dev/sdk"
        else
          echo "No disk found. Skipping data partition."
          exit 0
        fi

        # Check if disk is not mounted
        if mount | grep -q "$disk"; then
          echo "Disk $disk already mounted"
        else
          if lsblk -f "$disk" | grep -q ext4; then
            echo "Disk contains partition. Not touching it."
            exit 0
          else
            echo "No ext4 partition found. Formatting"
            mkfs -t ext4 $disk
          fi

          echo "Disk $disk is not mounted. Trying to mount."
          mkdir -p /var/app/data/data
          mount "$disk" /var/app/data/data && echo "Done mounting"
        fi
      fi

