############## TLS Configuration ##############
files:
  "/usr/bin/install-ca":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Sourcing environment in order to get proper values in the startup script
      source /etc/environment
      source /etc/env
      if [ -f /var/app/current/.docker/bin/app-env ]; then
        source /var/app/current/.docker/bin/app-env
      elif [ -f /var/app/staging/.docker/bin/app-env ]; then
        source /var/app/staging/.docker/bin/app-env
      fi

      # Get Root CA
      wget ${CA_URL} -O /etc/pki/ca-trust/source/anchors/root-ca.crt
      update-ca-trust force-enable
      update-ca-trust extract


container_commands:
  1_command:
    command: /usr/bin/install-ca
##############################################
