files:
  "/usr/local/bin/jolokia-downloader":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      JOLOKIA_VERSION="1.3.7"
      JOLOKIA_DIR="/usr/share/java/jolokia"
      JOLOKIA_FILE_NAME="jolokia-jvm-${JOLOKIA_VERSION}-agent.jar"
      JOLOKIA_DOWNLOAD_URL="http://search.maven.org/remotecontent?filepath=org/jolokia/jolokia-jvm/${JOLOKIA_VERSION}/${JOLOKIA_FILE_NAME}"

      mkdir -p $JOLOKIA_DIR

      if [ ! -f "${JOLOKIA_DIR}/${JOLOKIA_FILE_NAME}" ]; then
        cd ${JOLOKIA_DIR}
        wget -O ${JOLOKIA_FILE_NAME} $JOLOKIA_DOWNLOAD_URL
        ln -s ${JOLOKIA_FILE_NAME} jolokia-jvm-agent.jar
      fi

container_commands:
  1_download_jolokia:
    command: /usr/local/bin/jolokia-downloader
