files:
  "/etc/filebeat/filebeat.j2.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      filebeat:
        autodiscover:
          providers:
            - type: docker
              templates:
                - condition:
                    or:
                      - equals:
                          docker.container.labels.com.amazonaws.ecs.container-name: "{{ APPLICATION_NAME }}"
                      - equals:
                          docker.container.labels.com.amazonaws.ecs.container-name: "{{ APPLICATION_NAME }}-runner"
                  config:
                    - type: docker
                      multiline:
                        pattern: '^((\[|)2[0-9]{3}(-|\/)[0-9]{2}(-|\/)[0-9]{2}|{")'
                        negate: true
                        match: after
                      containers.ids:
                        - "${data.docker.container.id}"
                      fields:
                        app: "{{ APPLICATION_NAME }}"
                        env: "{{ ENVIRONMENT }}"
                        service: "{{ APPLICATION_NAME }}-{{ ENVIRONMENT }}"
                        document_type: docker_log
                      fields_under_root: true
                      exclude_lines: ["^\\s+[\\-`('.|_]"]  # drop asciiart lines
        inputs:
          - type: log
            paths:
              - "/var/log/filebeat/*.log"
              # Legacy path for EBv1
              - "/var/log/eb-docker/containers/eb-current-app/*"
            multiline:
              pattern: '^((\[|)2[0-9]{3}(-|\/)[0-9]{2}(-|\/)[0-9]{2}|{")'
              negate: true
              match: after
            fields:
              document_type: eb_app_legacy_log
              app: "{{ APPLICATION_NAME }}"
              env: "{{ ENVIRONMENT }}"
              service: "{{ APPLICATION_NAME }}-{{ ENVIRONMENT }}"
            fields_under_root: true
            exclude_lines: ["^\\s+[\\-`('.|_]"]  # drop asciiart lines
            scan_frequency: 1s                   # minimize dropped logs due to logrotate
        # We are using a versioned registry file, so there is no format conflict during major upgrades (IE v1.x -> 6.x)
        registry_file: /var/lib/filebeat/registryV6

      output.logstash:
        ssl.certificate_authorities: ["/etc/pki/tls/certs/{{ LOGSTASH_HOST }}.crt"]
        ssl.certificate: "/etc/pki/tls/certs/filebeat.crt"
        ssl.key: "/etc/pki/tls/private/filebeat.key"
        hosts: ["{{ LOGSTASH_HOST }}:{{ LOGSTASH_PORT | default ('5044') }}"]

      logging:
        to_files: true
        level: warning
        files:
          path: "/var/log/filebeat/"
          name: filebeat.log
          rotateeverybytes: 10485760

      # This is compatability with older indices mappings. We should migrate to host field as an object.
      processors:
        - drop_fields:
            fields: ["host"]
  "/usr/bin/filebeat-start":
    mode: "000755"
    owner: root
    group: root
    content: |
      # Sourcing environment in order to get proper values in the startup script
      source /etc/environment
      source /etc/env
      if [ -f /var/app/current/.app/.docker/bin/app-env ]; then
            source /var/app/current/.app/.docker/bin/app-env
      elif [ -f /var/app/staging/.app/.docker/bin/app-env ]; then
            source /var/app/staging/.app/.docker/bin/app-env
      fi

      # Ensure previous version is removed
      yum_ensure_absent filebeat-1.2.3-x86_64

      # Ensure filebeat user is present in the system
      if [ ! $(getent passwd filebeat ) ]; then
        useradd -m filebeat
      fi

      usermod -aG docker filebeat


      # Get key & cert from s3
      # FILEBEAT_TLS_S3_PATH = "s3://bucket/path"
      if [[ ! -z "${FILEBEAT_TLS_S3_PATH:-}" ]]; then
        aws s3 cp "s3://${FILEBEAT_TLS_S3_PATH}/filebeat.key" "/etc/pki/tls/private/filebeat.key"
        aws s3 cp "s3://${FILEBEAT_TLS_S3_PATH}/filebeat.crt" "/etc/pki/tls/certs/filebeat.crt"
        aws s3 cp "s3://${FILEBEAT_TLS_S3_PATH}/${LOGSTASH_HOST}.crt" "/etc/pki/tls/certs/${LOGSTASH_HOST}.crt"
      fi

      # rendering filebeat configuration
      /usr/local/bin/j2 /etc/filebeat/filebeat.j2.yml > /etc/filebeat/filebeat.yml

      chkconfig filebeat on
      service filebeat restart

packages:
  rpm:
    filebeat: https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.7.0-x86_64.rpm

container_commands:
  1_command:
    command: /usr/bin/filebeat-start
