# Two parts that are making sure we have fresh eb env vars

container_commands:
  1_command:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/20-hostname-passthrough.sh

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/20-hostname-passthrough.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /etc/env

      if [[ ! -z "${HOSTNAME_PASSTHROUGH:-}" ]]
      then
        if [[ "$HOSTNAME_PASSTHROUGH" == "true" ]]
        then
          # Save parent hostname via files
          echo "export HOSTNAME=\"$(hostname --fqdn)\"" >> /etc/env && source /etc/env
          echo "$(hostname --fqdn)" > /etc/parent-hostname
          curl -s http://169.254.169.254/latest/meta-data/local-ipv4 > /etc/parent-ip
        fi
      fi

  "/opt/elasticbeanstalk/hooks/restartappserver/pre/20-hostname-passthrough.sh":
    mode: "120755"
    content: "/opt/elasticbeanstalk/hooks/appdeploy/pre/20-hostname-passthrough.sh"

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/20-hostname-passthrough.sh":
    mode: "120755"
    content: "/opt/elasticbeanstalk/hooks/appdeploy/pre/20-hostname-passthrough.sh"
