files:
  "/usr/bin/deploy-newrelic":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /etc/env

      source /var/app/current/.docker/bin/app-env
      echo "EB_ENVIRONMENT_NAME=$EB_ENVIRONMENT_NAME" > /etc/eb-environment
      curl -L -O http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm

      yum install -y newrelic-repo-5-3.noarch.rpm
      yum install -y newrelic-sysmond

      usermod -a -G docker newrelic
      nrsysmond-config --set license_key=$NEWRELIC_LICENSE_KEY

      # Set hostname parameter
      (grep -q "^hostname=$AGENT_HOSTNAME" /etc/newrelic/nrsysmond.cfg) || echo hostname=$AGENT_HOSTNAME >> /etc/newrelic/nrsysmond.cfg

      /etc/init.d/newrelic-sysmond restart


container_commands:
  # We need to get environment name
  01:
    command: /usr/bin/deploy-newrelic