files:
  "/etc/telegraf/telegraf.j2.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [global_tags]
          service = "${APPLICATION_NAME}"
          env = "${ENVIRONMENT}"
          app = "${APPLICATION_NAME}"

      # Configuration for telegraf agent
      [agent]
          interval = "10s"
          debug = false
          hostname = "${AGENT_HOSTNAME}"
          round_interval = true
          flush_interval = "10s"
          flush_jitter = "0s"
          collection_jitter = "0s"
          metric_batch_size = 1000
          metric_buffer_limit = 10000
          quiet = false
          logfile = ""
          omit_hostname = false

      ###############################################################################
      #                                  OUTPUTS                                    #
      ###############################################################################

      [[outputs.influxdb]]
          urls = ["https://influxdb.flotech.co:8086/"]
          database = "telegraf"
          precision = "s"
          username = "telegraf"
          password = "_i_love_defaults_"
          insecure_skip_verify = true
          skip_database_creation = true

      ###############################################################################
      #                                  INPUTS                                     #
      ###############################################################################

      [[inputs.cpu]]
          percpu = true
      [[inputs.disk]]
      [[inputs.io]]
      [[inputs.mem]]
      [[inputs.net]]
      [[inputs.system]]
      [[inputs.swap]]
      [[inputs.netstat]]
      [[inputs.processes]]
      [[inputs.kernel]]

  "/usr/bin/telegraf-start":
    mode: "000755"
    owner: root
    group: root
    content: |
      # Sourcing environment in order to get proper values in the startup script
      source /etc/environment
      source /etc/env
      if [ -f /var/app/current/.docker/bin/app-env ]; then
            source /var/app/current/.docker/bin/app-env
      elif [ -f /var/app/staging/.docker/bin/app-env ]; then
            source /var/app/staging/.docker/bin/app-env
      fi

      usermod -aG docker telegraf

      # rendering telegraf configuration
      /usr/local/bin/j2 /var/app/current/.docker/templates/telegraf.j2.conf > /etc/telegraf/telegraf.conf

      chkconfig telegraf on
      service telegraf restart

packages:
  rpm:
    telegraf: https://dl.influxdata.com/telegraf/releases/telegraf-1.9.0-0.rc2.x86_64.rpm

container_commands:
  1_command:
    command: /usr/bin/telegraf-start
