.idea
.vscode
**/main
**/flo-batch-telemetry
**/*-event.json
test/*.parquet
**/run.*.txt
**/data.*.csv
**/test/*.csv
**/test/*.telemetry
**/*.csv.gz.telemetry*
**/_debug_bin
**/.swp
src/src
src/main
**/scripts/*.log
**/scripts/*.csv
**/scripts/*.telemetry
**/scripts/*.gz
**/*.swp