export ACCOUNT_ID=098786959887
export LAMBDA_TIMEOUT_IN_SECONDS=30
export ES_INDEX=devices
export ES_DOMAIN=vpc-flo-logs-qrlg5k6lpnwhwxwgit7ah3csum.us-west-2.es.amazonaws.com
export ES_DOMAIN_URL="${ES_DOMAIN}"
export ES_URL="https://${ES_DOMAIN}"
export S3_SOURCE_DATA=flocloud-bulk-device-logs
export VPC_ID=vpc-f9ac7c9d
