# Logs
kafka-logs/
logs/
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target
lib_managed/
src_managed/
.ivy2
.sbt

# Scala-IDE specific
.idea
.scala_dependencies
.sc
.worksheet
*.sc
*.iml
*.ipr
*.iws
*.jks
out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/native/
project/target
project/project/target
project/project/project
native/*

*.class