#!/usr/bin/env bash
if [ -z ${DEV_VAULT_TOKEN+x} ]; then
  echo "DEV_VAULT_TOKEN is not set!"
fi
if [ -z ${DEV_VAULT_URL+x} ]; then
  echo "DEV_VAULT_URL is not set!"
fi
export VAULT_TOKEN="${DEV_VAULT_TOKEN}"
export VAULT_URL="${DEV_VAULT_URL}"
