<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427332962033-urtofcn5rk8rg7dl5n3pljsd4tte71fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427332962033-urtofcn5rk8rg7dl5n3pljsd4tte71fl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427332962033-9nb4pann7ooidomq37f2cqv034d49a55.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEKPUmADhe_0sdhxCd2lmvwA2KfiaMv_8</string>
	<key>GCM_SENDER_ID</key>
	<string>427332962033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flo.mobile.preprod</string>
	<key>PROJECT_ID</key>
	<string>flotechnologies-1b111</string>
	<key>STORAGE_BUCKET</key>
	<string>flotechnologies-1b111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427332962033:ios:7a7cc288af51e900</string>
	<key>DATABASE_URL</key>
	<string>https://flotechnologies-1b111.firebaseio.com</string>
</dict>
</plist>