files:
  "/etc/telegraf/telegraf.d/kafka_connect_jolokia2_agent.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [[inputs.jolokia2_agent]]
        urls = ["http://localhost:8778/jolokia/"]
      [[inputs.jolokia2_agent.metric]]
        name  = "jolokia"
        mbean = "java.lang:type=Memory"
        paths = ["HeapMemoryUsage", "NonHeapMemoryUsage", "ObjectPendingFinalizationCount"]
      [[inputs.exec]]
        commands = ["/usr/local/bin/connectors-list.sh"]
        data_format = "json"
        name_suffix = "_connect_task"
        tag_keys = [
          "connector",
          "id",
          "worker_id"
        ]
        json_string_fields = [
          "state_name"
        ]
  "/usr/local/bin/connectors-list.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/python
      import itertools
      import json
      import requests

      CONNECTORS_ENDPOINT = "http://localhost/connectors/"

      connector_tasks = lambda connector: list(
          map(lambda task: {
              'id': task['id'],
              'worker_id': task['worker_id'],
              'connector': connector,
              'state': 0 if task['state'] == 'RUNNING' else 1,
              'state_name': task['state']
          },
              requests.get("{}{}/status".format(CONNECTORS_ENDPOINT, connector)).json()['tasks']
              )
      )

      print(
          json.dumps(
              list(
                  itertools.chain.from_iterable(
                      map(connector_tasks, requests.get(CONNECTORS_ENDPOINT).json())
                  )
              )
          )
      )
